
<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/17229243/pexels-photo-17229243/free-photo-of-kobieta-park-staw-patrzacy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center px-3">Featured</small>
        <small class="bg-light text-info text-center">Views - 100,235 </small>

        <h5 class="mt-1">HOW TO START A BLOG 2023 NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu porta massa. Cras cursus vitae est in interdum. </p>
        <small class="bg-light text-warning text-center ml-3">LATEST UPDATED - JUN 20, 2023</small>
    </div>

</div>